/*
	Made By u/ciber_turtle
	Made: 13-12-2019
	Updated: dd-mm-ccyy
*/

//Imports
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

//Varibles
//	Colors
//		Basic
$background: rgb(250, 250, 250);
$light-gray: rgb(150, 150, 150);
$gray: #333333;
$dark: #222222;
$text: #111111;
$shadow: 0 6px 8px 4px rgba(0, 0, 0, 0.2);
$accent1: #ff7504;
$accent2: #1ce850;

//Numbers
$easing: cubic-bezier(0.23, 0.75, 0.32, 1);
$rounded: 10px;
$thin: 100;
$norm: 400;
$med: 550;
$thick: 750;

//Styles
* {
	font-family: montserrat, sans-serif, arial;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 20px;
	color: $text;
	font-weight: $norm;
}

body {
	background: linear-gradient(
		-1deg,
		rgb(15, 35, 134) 0%,
		rgb(15, 35, 134) 15%,
		rgb(19, 67, 156) 15%,
		rgb(19, 67, 156) 47%,
		rgb(23, 99, 178) 47%,
		rgb(23, 99, 178) 76%,
		rgb(26, 130, 200) 76%,
		rgb(26, 130, 200) 92%,
		rgb(30, 162, 222) 92%,
		rgb(30, 162, 222) 100%
	);
}

h1 {
	text-rendering: geometricPrecision;
	text-align: center;
	font-size: 30px;
	color: $accent1;
	padding-top: 16px;
}

p {
	padding: 16px;
	margin: 16px;
}

//navbar
.nav-bar {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: $gray;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: $shadow;
	z-index: 999;
}

.nav-item {
	display: inline-block;
}

.fa-home,
.fa-newspaper,
.fa-id-card-alt,
.fa-info-circle {
	margin-right: 6px;
	color: $accent1;
}

.nav-icon {
	margin: 0 4px;
	float: left;
}

.nav-link {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: $gray;

	transition: background-color 150ms;
}

.nav-item .nav-link:hover,
.nav-item .nav-link:focus {
	color: $accent1;
}

.nav-link:active {
	background-color: $accent1;
}

//elemnts

.card {
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 32px 12px rgba(0, 0, 0, 0.1);
	transition: 0.3s;
	border-radius: $rounded;
	margin: 64px;
	text-align: center;

	transition: background-color 250ms $easing box-shadow 250ms $easing;
}

.card:hover {
	background-color: rgba(255, 255, 255, 0.75);
	box-shadow: 0 0 32px 12px rgba(0, 0, 0, 0.2);
}

//profiles
.profile {
	width: 1fr;
	max-width: 600px;
	margin: 64px 40%;
	background: $accent1;
	box-shadow: 0 0 32px 12px rgba(0, 0, 0, 0.1);
	border-radius: $rounded;
	text-align: center;

	transition: box-shadow 250ms;
}

.profile-pic {
	margin: 8px;
	width: 50%;
	height: 50%;
	border-radius: 50%;
	border: 4px solid $accent2;

	transition: background-size 250ms $easing;
}

.profile-pic:hover {
	background-size: 1.5;
}

.profile-name {
	text-shadow: $shadow;
	font-weight: $thick;
	letter-spacing: 2px;
}

.profile-links {
	margin: 8px 8px;
}

.profile-link {
	margin: 0px;
	color: $accent1;
	cursor: pointer;

	opacity: 0.75;
	transition: opacity 250ms $easing;
}

.profile-link:hover,
.profile-link:focus {
	color: $accent2;
	opacity: 1;
}

.profile-bio {
	margin: 2px;
	padding: 16px;
	font-style: italic;
}

.profile:hover {
	box-shadow: 0 0 32px 12px rgba(0, 0, 0, 0.2);
}

.container {
	padding: 24px;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: $accent1;
	position: relative;
}

a::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 2px;
	background-color: currentColor;

	transform: scaleX(0);
	transform-origin: right;
	transition: transform 250ms $easing;
}

a:hover::after,
a:focus::after {
	transform: scaleX(1);
	transform-origin: left;
}

button {
	cursor: pointer;
	margin: 10px 0px;
	border: 0;
	background-color: $accent1;
	color: white;
	border-radius: $rounded;
	padding: 1em 1.5em;
	position: relative;
	z-index: 1;

	transition: background-color 250ms;
}

button:hover,
button:focus {
	background-color: $accent2;
}

button::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.25);
	border-radius: $rounded;
	z-index: -1;

	transition: transform 250ms $easing;
	transform: scale(0);
	transform-origin: center;
}

button:hover::after,
button:focus::after {
	transform: scale(1);
	transform-origin: center;
}

#goToTopBtn {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 999;
	padding: 15px;
	font-size: 18px;
}

:focus {
	outline: 5px solid $accent2;
	outline-offset: 5px;
	z-index: 998;
}

::-moz-focus-inner {
	border: 0;
}
