html {
	--red: #e6482e;
	--orange: #f47e1b;
	--yellow: #f4b41b;
	--lime: #b6d53c;
	--green: #71aa34;
	--dark-green: #397b44;
	--cyan: #28ccdf;
	--blue: #3978a8;
	--pink: #cd6093;
	--purple: #8e478c;
	--gray: #7d7071;
}


.hljs-comment {
	color: var(--dark-green);
}

.hide-comments .hljs-comment {
	opacity: 0;
	user-select: none;
}


// HTML
.hljs-tag {
	color: var(--gray);

	&:hover {
		background-color: #39314b;
	}
}

.hljs-name {
	color: var(--red);
}

.hljs-attr {
	color: var(--cyan);
}

.hljs-string {
	color: var(--yellow);
}


// CSS
.hljs-selector-tag {
	color: var(--red);
}

.hljs-selector-id {
	color: var(--pink);
}

.hljs-selector-class {
	color: var(--cyan);
}

.hljs-selector-pseudo {
	color: var(--lime);
}
